/*========ani start========*/
.imgAni {
  animation: imgAni 0.7s linear forwards;
}

@keyframes imgAni {
  0% {
    opacity: 0
  }
  80% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

.textBoxAni {
  animation: textBoxAni 0.6s ease-in-out forwards;
}


@keyframes textBoxAni {
  0% {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.imgAni2 {
  animation: imgAni2 0.3s linear forwards;
}

@keyframes imgAni2 {
  0% {
    opacity: 0
  }
  80% {
    opacity: 1
  }
  100% {
    opacity: 1
  }
}

.imgAni3 {
  animation: imgAni3 4s ease-in-out infinite;
}
.m_imgAni01{
  animation: imgAni3 4s ease-in-out 0.4s infinite;
}
.m_imgAni02{
  animation: imgAni3 4s ease-in-out 0.2s infinite;
}

@keyframes imgAni3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate3d(0, 2%, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  80% {
    opacity: 1;
    transform: translate3d(0, 2%, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

.mo_section1ani{
  animation: sectionLeftAni 2s ease-in-out 0.1s infinite;
}
.section1ani {
  animation: sectionLeftAni 2s ease-in-out 0.1s infinite;
}

@keyframes sectionLeftAni {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.illustAni01 {
  animation: illustAni01 3s ease-in-out infinite alternate;
}

@keyframes illustAni01 {
  0% {
    transform: translate3d(0%, 1%, 0);
  }
  50% {
    transform: translate3d(0%, -1%, 0);
  }
  100% {
    transform: translate3d(0%, 1%, 0);
  }
}

.illustAni02 {
  animation: illustAni02 3s ease-in-out infinite alternate;
}

@keyframes illustAni02 {
  0% {
    transform: translate3d(0%, -1%, 0);
  }
  50% {
    transform: translate3d(0%, 1%, 0);
  }
  100% {
    transform: translate3d(0%, -1%, 0);
  }
}

.illustAni03 {
  animation: illustAni03 3s ease-in-out infinite alternate;
}

@keyframes illustAni03 {
  0% {
    transform: translate3d(0%, 1%, 0);
  }
  50% {
    transform: translate3d(0%, -1%, 0) rotate(-0.5deg);
  }
  100% {
    transform: translate3d(0%, 1%, 0);
  }
}

.illustAni04 {
  animation: illustAni04 2s ease-in-out infinite alternate;
}

@keyframes illustAni04 {
  0% {
    transform: translate3d(0%, 0%, 0);
  }
  50% {
    transform: translate3d(0%, -5%, 0) rotate(1deg);
  }
  100% {
    transform: translate3d(0%, 0%, 0);
  }
}

.illustAni10 {
  animation: illustAni10 3s ease-in-out infinite alternate;
}

@keyframes illustAni10 {
  0% {
    transform: translate3d(0%, -3%, 0);
  }
  50% {
    transform: translate3d(0%, 10%, 0);
  }
  100% {
    transform: translate3d(0%, -3%, 0);
  }
}

@keyframes appAni01 {
  0% {
    transform: scale(0, 1);
  }
  20% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes appAni02 {
  0% {
    transform: translate3d(-111.5%, 0, 0);
    opacity: 0;
  }
  20% {
    transform: translate3d(-111.5%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes appAni03 {
  0% {
    transform: translate3d(75%, 0, 0);
    opacity: 0;
  }
  20% {
    transform: translate3d(75%, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.phoneAni {
  animation: phoneAni 4s ease-in-out infinite;
}

@keyframes phoneAni {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -67%, 0);
  }
  40% {
    transform: translate3d(0, -67%, 0);
  }
  60% {
    transform: translate3d(0, -67%, 0);
  }
  75% {
    transform: translate3d(0, -67%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.phoneAni2 {
  animation: phoneAni2 6s ease-in-out infinite;
}

@keyframes phoneAni2 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -98%, 0);
  }
  40% {
    transform: translate3d(0, -98%, 0);
  }
  60% {
    transform: translate3d(0, -165%, 0);
  }
  75% {
    transform: translate3d(0, -165%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.phoneAni3 {
  animation: phoneAni3 6s ease-in-out infinite;
}

@keyframes phoneAni3 {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  5% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, -100%, 0);
  }
  40% {
    transform: translate3d(0, -100%, 0);
  }
  60% {
    transform: translate3d(0, -165%, 0);
  }
  75% {
    transform: translate3d(0, -165%, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.phoneAni10 {
  animation: phoneAni10 7s linear infinite;
}

@keyframes phoneAni10 {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  71% {
    opacity: 1;
  }
  73% {
    opacity: 0;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.phoneAni9 {
  animation: phoneAni9 7s linear infinite;
}

@keyframes phoneAni9 {
  17% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  41% {
    opacity: 1;
  }
  44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.phoneAni8 {
  animation: phoneAni8 7s linear infinite;
}

@keyframes phoneAni8 {
  72% {
    opacity: 0;
  }
  74% {
    opacity: 1;
  }
  96% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.phoneAni7 {
  animation: phoneAni7 7s linear infinite;
}

@keyframes phoneAni7 {
  0% {
    transform: translate3d(0, 43%, 0);
    opacity: 1;
  }
  15% {
    transform: translate3d(0, 43%, 0);
    opacity: 1;
  }
  18% {
    transform: translate3d(0, 11%, 0);
    opacity: 1;
  }
  43% {
    transform: translate3d(0, 11%, 0);
    opacity: 1;
  }
  47% {
    transform: translate3d(0, 43%, 0);
    opacity: 1;
  }
  70% {
    transform: translate3d(0, 43%, 0);
    opacity: 1;
  }
  72% {
    transform: translate3d(0, 11%, 0);
    opacity: 1;
  }
  97% {
    transform: translate3d(0, 11%, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 43%, 0);
    opacity: 1;
  }
}
