* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

section {
  position: relative;
}

/*nav style*/
#nav.on {
  height: 357px;
  background-color: #000;
  opacity: 0.7;
  border-bottom: 1px solid #2f2f2f;
  border-top: 1px solid #2f2f2f;
  transition: all 0.5s;
}

.cs-bg {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 !important;
  margin: 0 !important;
}

body.scroll::-webkit-scrollbar {
  display: none;
}

.navi {
  width: 100%;
  height: 69px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 53px;
  min-width: 1100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  transition: all 0.5s;
}

.cs-border {
  width: 100%;
  height: 69px;
  top: 0;
  left: 0;
  opacity: 0.7;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
}

.close {
  font-size: 2rem;
  font-weight: 1000;
  opacity: 1;
  position: fixed;
  top: 10px;
  right: 15px;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  opacity: 1;
}

.nav-fixed {
  background-color: #000;
  opacity: 0.8;
  transition: all 0.5s;
}

.cs-modal {
  max-width: 1100px;
  /*top: 350px;*/
}

.nav-menu {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.nav-menu .main-logo {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  padding-top: 22px;
}

.nav-menu .main-logo .img-logo {
  width: 171px;
  height: 31px;
}

.img-logo {
  display: block;
  overflow: hidden;
  background: url("../img/navbar-logo.svg") 0 0 no-repeat;
  text-indent: -9999px;
}

.gnb {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  text-indent: -9999px;
}

.top-menu {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-inline-start: 40px;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.top-menu li {
  float: left;
}

.top-menu li a {
  text-decoration: none;
}

.top-menu li a:hover {
  color: white;
}

.top-menu li:first-child {
  padding-left: 60px;
}

.top-menu .top-link {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  position: relative;
  margin-right: 60px;
  padding: 26px 20px 23px;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.top-link:hover {
  color: white;
  opacity: 1;
}

.sub-menu {
  padding: 13px 0 0 20px;
  text-align: left;
}

.sub-menu li {
  float: none;
  height: auto;
  padding-right: 0;
}

.sub-menu li:first-child {
  padding-left: 0;
}

.sub-menu .sub-link {
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.6);
  vertical-align: top;
}

.chg-lang {
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
}

.chg-lang .chg-lang-top {
  display: block;
  padding: 24px 0 25px 20px;
  font-size: 18px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.chg-lang .lang-btn {
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  vertical-align: top;
}

.chg-lang-top .lang-btn:hover {
  color: white !important;
  opacity: 1 !important;
  cursor: pointer !important;
  text-decoration: none;
}

/*header*/
.header {
  position: relative;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.overlaymv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 1;
}

.brandani {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: auto;
  background-color: #000;
}

.header-title {
  font-weight: 400;
  font-size: 2.8rem;
  letter-spacing: -0.05em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}

.sumpress {
  flex-direction: row;
}


.arrow-white {
  height: 1rem;
  opacity: 0.7;
}

.arrow-white2 {
  height: 1.5rem;
}

.border-none {
  border-bottom: none;
}

.box-cell {
  text-align: justify;
}

.box-ani {
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.box-ani:hover {
  transform: translateY(-0.3333333333rem);
  box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
}

.bg-white {
  background-color: rgba(255, 255, 255, 1) !important;
}

.arrow-black {
  width: 0.7rem;
  opacity: 0.4;
}

.overlayindex {
  position: relative;
  overflow: hidden;
}

.lift {
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.lift:hover {
  transform: translateY(-0.3333333333rem);
  box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
}

.indexcont {
  font-size: 1rem;
}

.container, .container-fluid {
  padding-right: 3rem;
  padding-left: 3rem;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.slider {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  user-select: none;
  touch-action: pan-y;
}

.slick-prev {
  left: -25px;
  color: transparent;
  outline: none;
  background: transparent;
  font-size: 0;
  line-height: 0;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}

.slick-next {
  right: -25px;
  color: transparent;
  outline: none;
  background: transparent;
  font-size: 0;
  line-height: 0;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-slide {
  margin: 0 10px;
  float: left;
  height: 100%;
  min-height: 1px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  border-top: none;
}

.card-portfolio {
  position: relative;
  mask-image: radial-gradient(white, black);
}

.card-portfolio .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.card-portfolio .card-body .card-title {
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 800;
  color: #363d47;
}

.long-item {
  display: block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

figure {
  margin: -9.75% 0;
  position: relative;
}

.footer {
  font-size: 0.875rem;
  z-index: 2;
}

.footer-light {
  color: white;
  background-color: white;
}

.footer-brand {
  font-size: 1.2rem;
  font-weight: bold;
}

.small {
  font-size: 0.875rem;
  font-weight: 400;
  color: #a7aeb8;
}

.cs-m {
  margin-left: -0.25rem;
}

.text-xs {
  font-weight: 400;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #5e646b;
}

.list-unstyled li {
  color: #5e646b;
}

/*모바일 상단 네비*/


@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

}

@media (max-width: 992px) {
  .regular {
    display: none;
  }

  .cs-h1-text {
    font-size: 1.5rem;
  }

  .small {
    display: none;
  }

  .cs-text {
    font-size: 1.4rem;
    color: black;
  }

  .cs-p-text {
    font-size: 0.8rem;
  }

  .cs-h5-text {
    font-size: 1.1rem;
  }

  #nav {
    display: none;
  }

  #m-nav {
    height: 0;
    opacity: 0;
    transition: all 0.5s;
  }

  .chg-lang-m {
    position: relative;
    padding-left: 0;
    top: 0;
    right: 0;
    text-align: left;
  }

  .chg-lang-m .chg-lang-top-m {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    line-height: 20px;
    display: block;
    text-decoration: none;
  }

  .chg-lang-m span a {
    color: rgba(255, 255, 255, 0.6);
  }

  .cs-d-block {
    height: 754px !important;
    opacity: 1 !important;
    transition: all 0.5s;
  }

  table .sub-link {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.6);
    vertical-align: top;
  }

  #nav-m.on {
    background-color: #000;
    opacity: 0.9;
    border-bottom: 1px solid #2f2f2f;
    border-top: 1px solid #2f2f2f;
  }

  .navbar-dark .navbar-toggler-icon {
    background: url("../company/menu_01.svg");
  }

  #toggle-btn {
    position: absolute;
    right: 0;
    top: 0;
  }

  #toggle-btn2 {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar-toggler-icon {
    background: no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.3s ease;
    transform: rotate(0deg);
    z-index: 20;
  }

  .navbar-toggler-icon.active {
    transform: rotate(90deg);
    opacity: 0;
    z-index: 17;
  }


  .navbar-dark .navbar-X-icon {
    background: url("../company/menu_02.svg");
  }

  .cs-border-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  }

  .navbar-X-icon {
    background: no-repeat center center;
    background-size: 100% 100%;
    transition: all 0.3s ease;
    transform: rotate(0deg);
    position: absolute;
    opacity: 0;
    z-index: 19;
  }

  .navbar-X-icon.active {
    transform: rotate(-90deg);
    opacity: 0;
    z-index: 18;
  }
}

@media (min-width: 992px) {
  .pt-lg-20, .py-lg-20 {
    padding-top: 12rem !important;
  }

  #nav-m {
    display: none;
  }

  .card-portfolio .card-body {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  .pb-lg-5, .py-lg-5 {
    padding-bottom: 3rem !important;
  }

  .pb-lg-15, .py-lg-15 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }

  .mt-lg-10, .my-lg-10 {
    margin-top: 6rem !important;
  }
}
