* {
  padding: 0;
  margin: 0;
}

.nav-fixed {
  background-color: rgba(24, 24, 24, 0.7) !important;
  backdrop-filter: blur(15px);
  border-bottom-width: 0;
  transition: all 0.5s;
}

.icon {
  background: url("../img/developers/icon_header_set_v2.png") no-repeat center center;
  background-size: 500px 500px;
}

.icon {
  width: 251px;
  height: 28px;
  font-size: 0;
  line-height: 0;
  text-indent: -99999px;
  color: transparent;
  display: block;
  background-position: 0 -29px;
}

.icon-set {
  display: inline-block;
  text-indent: -999999px;
  font-size: 0;
  color: transparent;
  line-height: 0;
  background-image: url("../img/developers/icon_set.png");
  background-size: 1000px 1000px;
}

.icon-more {
  background-position: -50px -422px;
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
}

.icon-arrow {
  width: 24px;
  height: 24px;
  background-position: 0px -517px;
}
.icon-kt-logo{
  width: 194.5px;
  height: 30px;
  background-position: 0px -299px;
}
.icon-lg-logo{
  width: 194.5px;
  height: 30px;
  background-position: 0px -266px;
}
.icon-onestore-logo{
  width: 194.5px;
  height: 30px;
  background-position: 0px -233px;
}
html, body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

ul, ol, li {
  list-style: none;
  box-sizing: border-box;
}


a {
  text-decoration: none !important;
  color: inherit;
  font-weight: 400;
  word-break: break-all;
}

.main {
  min-width: 1180px;
}


/*header nav style*/
header.black {
  background-color: transparent;
  border-bottom-width: 0;
  transition: all 0.5s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(145, 145, 145, 0.2);
  z-index: 400;
  box-sizing: border-box;
}

header .cont-inner {
  height: 80px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
}

header .cont-inner h1 {
  padding: 0 50px 0 0;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

header .cont-inner h1 a {
  padding: 7px 0 7px 0;
  display: block;
}

header .cont-inner .gnb {
  padding: 0;
  display: flex;
  flex: 1 1;
}

header .cont-inner .gnb .main-menu {
  padding: 0;
  display: flex;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
}

header .cont-inner .gnb .main-menu li {
  position: relative;
  padding: 0 10px;
}

header .cont-inner .gnb .main-menu li a {
  color: #ffffff;
  padding: 9px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 10px;
  display: block;
}

header .cont-inner .gnb .lang-menu {
  position: absolute;
  right: 50px;
  top: 19px;
  display: flex;
}

header .cont-inner .gnb .lang-menu li {
  position: relative;
  padding: 0 10px 0 11px;
}
header .cont-inner .gnb .main-menu li a:hover{
  background-color: rgba(255,255,255,0.1) !important;
  border-radius: 10px;
}
header .cont-inner .gnb .lang-menu > li > a {
  color: #ffffff;
}

header .cont-inner .gnb .lang-menu li:first-child {
  padding-left: 0;
}

header .cont-inner .gnb .lang-menu li:last-child {
  padding-right: 0;
}

header .cont-inner .gnb .lang-menu .login-before:after {
  position: absolute;
  content: '';
  left: 0;
  top: 12px;
  width: 1px;
  height: 18px;
  background-color: rgba(145, 145, 145, 0.5);
  display: block;
}

header .cont-inner .gnb .lang-menu li a {
  padding: 9px 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 10px;
  display: block;
}

header .cont-inner .gnb .lang-menu span {
  width: 24px;
  height: 24px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-indent: -999999px;
  background-position: -25px -58px;
  vertical-align: top;
  display: inline-block;
}

header .cont-inner .gnb .main-menu li .submenu {
  position: absolute;
  left: 50%;
  top: 30px;
  padding-top: 43px;
  transform: translate3d(-50%, 0, 0);
  display: none;
}
.dp-block{
  display: block !important;
}
header .cont-inner .gnb .main-menu li .submenu ul {
  position: relative;
  padding: 19px;
  width: 210px;
  border: 1px solid rgba(145, 145, 145, 0.2);
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}

header .cont-inner .gnb .main-menu li .submenu ul li {
  padding: 5px 0 0 0;
  display: block;
}
header .cont-inner .gnb .main-menu li .submenu ul li:hover{
  background-color: rgba(0,0,0,0.05);
  border-radius: 10px;
}
header .cont-inner .gnb .main-menu li .submenu ul li a:hover{
  font-weight: bold ;
}
header .cont-inner .gnb .lang-menu li a:hover{
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
}
header .cont-inner .gnb .lang-menu .choice-lang ul li:first-child a{
  color: #E9464A;
}
header .cont-inner .gnb .lang-menu .choice-lang ul li a:hover{
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
}
header .cont-inner .gnb .main-menu li .submenu ul li a {
  padding: 10px;
  font-size: 16px;
  color: #181818;
  line-height: 22px;
  font-weight: 500;
  border-radius: 10px;
  display: block;
  word-break: keep-all;
}

header .cont-inner .gnb .main-menu li .submenu ul li:first-child {
  padding-top: 0;
}

header .cont-inner .gnb .lang-menu .choice-lang {
  position: absolute;
  right: 50%;
  top: 30px;
  padding-top: 43px;
  transform: translate3d(50%, 0, 0);
  display: none;
}

header .cont-inner .gnb .lang-menu .choice-lang ul {
  position: relative;
  padding: 19px;
  width: 200px;
  border: 1px solid rgba(145, 145, 145, 0.2);
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
}

header .cont-inner .gnb .lang-menu .choice-lang ul li {
  padding: 5px 0 0 0;
  display: block;
}

header .cont-inner .gnb .lang-menu .choice-lang ul li:first-child {
  padding-top: 0;
  color: #E9464A;
}


/*section style*/
.main-section {
  position: relative;
  width: 100%;
  height: 900px;
  background: #000000;
  overflow: hidden;
  box-sizing: border-box;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2023.5px;
  height: 900px;
  z-index: 1;
  background: url("../img/developers/interaction_banner.png") center;
  background-size: 2023.5px 970px;
  transform-origin: 50%;
  transform: translate3d(-50%, 0%, 0) scale(0.9);
  animation: mainbg 1s ease-in-out forwards;
  opacity: 1;
}

@keyframes mainbg {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0%, 0) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate3d(-50%, 0%, 0) scale(1);
  }
}

.main-section .main-inner {
  position: relative;
  z-index: 2;
  width: 1100px;
  margin: 0 auto;
  text-align: left;
  padding-top: 150px;
  transform: translate3d(0%, 5%, 0);
  animation: mainText 1s ease-in-out forwards;
  opacity: 1;
}

@keyframes mainText {
  0% {
    opacity: 0;
    transform: translate3d(0%, 5%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0%, 0%, 0);
  }
}

.main-section .main-inner .ms-text {
  display: inline-block;
}

.main-section .main-inner .ms-text .ms-text-p {
  color: #ffffff;
  font-size: 60px;
  font-weight: 900;
  line-height: 62px;
}

.main-section .main-inner .ms-text .ms-text-p2 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 16px;
  margin-bottom: 34px;
}

.main-section .main-inner .ms-btn {
  display: flex;
  align-items: flex-start;
}

.main-section .main-inner .ms-btn a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);
}

.ms-btn a {
  color: #ffffff;
  min-width: 180px;
  height: 50px;
  line-height: 48px;
  padding: 0 20px;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 400;
}

.main-section .main-inner .ms-btn a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.ms-btn a:first-child {
  margin-left: 0;
}

/*notice-section*/
.notice-section {
  position: relative;
  z-index: 5;
  width: 1180px;
  min-height: 393px;
  padding: 40px;
  border-radius: 20px;
  background: #020204;
  overflow: hidden;
  box-sizing: border-box;
  margin: -347px auto 0;
}

.notice-section .notice-section-header {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.notice-section-header a {
  position: relative;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding-right: 22px;
}

.notice-section-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.notice-section-content div {
  position: relative;
  width: 264px;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
}

.notice-section-content div a {
  display: block;
  padding: 40px 35px 30px;
  box-sizing: border-box;
  height: 100%;
  background: #191926;
  word-break: keep-all;
}

.notice-section-content div a:hover {
  background: rgba(50, 50, 90, 0.7);
}

.notice-section-content div a .notice-day {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9);
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  display: block;
  margin-bottom: 20px;
}

.notice-section-content div a .notice-text {
  color: #ffffff;
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-section-content div a .notice-icon {
  position: absolute;
  bottom: 30px;
  right: 35px;
  font-size: 0;
}

/*intro-section*/
.intro-section {
  padding: 70px 0 0;
}

.intro-section .intro-inner {
  width: 1100px;
  margin: 0 auto;
}

.intro-section .intro-inner .intro-header {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.intro-section .intro-inner .intro-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.intro-section .intro-inner .intro-list li {
  width: 264px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(20px);
  color: rgba(24, 24, 24, 0.9);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.intro-section .intro-inner .intro-list li a {
  display: block;
  background: #F7F7F7;
  padding: 40px 35px;
  box-sizing: border-box;
}

.intro-section .intro-inner .intro-list li img {
  width: 60px;
  vertical-align: top;
}

.intro-section .intro-inner .intro-list li span {
  display: block;
  letter-spacing: -0.5px;
}

.intro-section .intro-inner .intro-list li .intro-text-title {
  color: #000000;
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 35px;
  margin-bottom: 10px;
  letter-spacing: 0px;
}
/*footer style*/
footer{
  position: relative;
  min-width: 1120px;
  padding: 0 0 30px 0;
  z-index: 10;
  background: #F7F7F7;
  margin-top: 70px;
}
footer .footer-top{
  padding: 39px 0 39px 0;
  border-top: 1px solid rgba(145, 145, 145, 0.1);
}
.footer-inner{
  text-align: center;
}
footer .footer-top .footer-inner ul{
  height: 21px;
}
footer .footer-top .footer-inner ul li{
  position: relative;
  padding: 0 20px 0 21px;
  display: inline-block;
  vertical-align: top;
}
footer .footer-top .footer-inner ul li:first-child{
  padding-left: 0;
}
footer .footer-top .footer-inner ul li:first-child:before{
  content: none;
}
footer .footer-top .footer-inner ul li:before{
  position: absolute;
  content: '';
  left: 0px;
  top: 50%;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background-color: rgba(24, 24, 24, 0.3);
}
footer .footer-top .footer-inner ul li .link-bold{
  font-size: 15px;
  line-height: 21px;
  font-weight: bold;
}
footer .footer-top .footer-inner ul li .link{
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  font-weight: 400;
  display: block;
}
footer .footer-bottom{
  padding: 50px 0 70px 0;
  border-top: 1px solid rgba(145, 145, 145, 0.2);
}
footer .footer-bottom .footer-inner ul{
  font-size: 0;
}
footer .footer-bottom .footer-inner ul li{
  position: relative;
  display: inline-block;
  text-align: left;
}
footer .footer-bottom .footer-inner ul li .footer-box{
  margin-left: 30px;
  min-width: 347px;
}
footer .footer-bottom .footer-inner ul li:first-child .footer-box{
  margin-left: 0;
}
footer .footer-bottom .footer-inner ul li .footer-box .footer-logo{
  width: 175.5px;
  height: 30px;
  margin-bottom: 30px;
}
footer .footer-bottom .footer-inner ul li .footer-box p{
  color: rgba(24, 24, 24, 0.9);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
